.div1 .p1{
    text-transform: uppercase;
    text-align: right;
    color: aliceblue;
}
h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 2px;
    color: aliceblue;
}
.p3{
    text-align: center;
    padding-top: 2px;
    color: aliceblue;
}
body{
    background-image: url(./image/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
a{
    border: 2px solid rgb(94, 5, 5);
    background-color: none;
    border-radius: 5px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    margin-left: 250px;
    min-height: 50px;
    width: 30px;
}
button{
    background-color: aqua;
}